{{!-- This handlebars is for displaying the actual book (single book) --}}

{{#bookObject}}
<div class="flipbook-viewport">
    <div class="container">
        <div class="flipbook">
            <div class="page" style="background-image:url(/assets/img/{{theme}}_page1.jpg)">
                <img class="titlechar" src="{{avatar}}" />
                <H1 id="booktitle">{{title}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page2.jpg)">
                <img class="p2char" src="{{avatar}}" />
                <H1 id="p2Text">{{page1}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page2.jpg)">
                <img class="p2char" src="{{avatar}}" />
                <H1 id="p2Text">{{page2}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page3.jpg)">
                <img class="p3char" src="{{avatar}}" />
                <H1 id="p3Text">{{page3}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page4.jpg)">
                <img class="p4char" src="{{avatar}}" />
                <H1 id="p4Text">{{page4}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page5.jpg)">
                <img class="p5char" src="{{avatar}}" />
                <H1 id="p5Text">{{page5}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page6.jpg)">
                <img class="p6char" src="{{avatar}}" />
                <H1 id="p6Text">{{page6}}</H1>
            </div>

            <div class="page" style="background-image:url(/assets/img/{{theme}}_page7.jpg)">
                <H1 id="endText"> .....To Be Continued ! </H1>
            </div>
        </div>
    </div>
</div>
{{/bookObject}}