{{!-- This handlebars is for displaying the actual book (single book) --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Baby Build a Book!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/books">List of all Baby Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/api/books">API Books</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

{{#bookObject}}
<div class="flipbook-viewport">
    <div class="container">
        <div class="flipbook">
            <div class="page" style="background-image:url(/assets/img/{{theme}}_page1.jpg)">
                <img class="titlechar" src="{{avatar}}" />
                <H1 id="booktitle">{{title}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page2.jpg)">
                <img class="p1char" src="{{avatar}}" />
                <H1 id="p1Text">{{page1}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page3.jpg)">
                <img class="p2char" src="{{avatar}}" />
                <H1 id="p2Text">{{page2}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page4.jpg)">
                <img class="p3char" src="{{avatar}}" />
                <H1 id="p3Text">{{page3}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page5.jpg)">
                <img class="p4char" src="{{avatar}}" />
                <H1 id="p4Text">{{page4}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page6.jpg)">
                <img class="p5char" src="{{avatar}}" />
                <H1 id="p5Text">{{page5}}</H1>
            </div>

            <div class="double" style="background-image:url(/assets/img/{{theme}}_page7.jpg)">
                <img class="p6char" src="{{avatar}}" />
                <H1 id="p6Text">{{page6}}</H1>
            </div>

            <div class="page" style="background-image:url(/assets/img/{{theme}}_page8.jpg)">
                <H1 id="endText"> .....To Be Continued ! </H1>
            </div>
        </div>
    </div>
</div>
{{/bookObject}}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; R2-K2 Development 2018</p>
    </div>
</footer>